.sendotp#example-modal {
    --height: 30%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
  
.sendotp#example-modal::part(backdrop) {
    background: rgb(0, 0, 0);
    backdrop-filter: blur(4px);
    opacity: 60;
}
  
.sendotp#example-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
}