<div class="drawer drawer-mobile" > 
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
  <div class="drawer-content flex flex-col">
    <!-- Navbar-->
    <div class="lg:hidden ">
      <app-navbar></app-navbar>
    </div>

 
      <!-- Page content here -->
      <div class="container w-full mt-20 lg:mt-8">
          <router-outlet></router-outlet>
      </div>
  </div> 
  <div class="drawer-side " >
      <label for="my-drawer-3" class="drawer-overlay"></label> 
      <ul  class="menu p-4 overflow-y-auto w-96 primary">
        <div class="-mt-4 -ml-4">
          <app-navbar></app-navbar>
        </div>
      
      </ul>    
  </div>
</div> 