.ios ion-avatar{
    text-transform: uppercase;
}
.height .img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.height img{
    height: -webkit-fill-available;
    width: 60px;
}

.height{
    padding: 0px 0px;
    margin: 15px 0px;
}

.newgroupAva{
    height: 50px;
    width: 50px;
}

.tab{
    height: 4rem;
}