@tailwind base;
@tailwind components;
@tailwind utilities;

.videoCall{
    margin-right: 25px;
    font-size: x-large;
}
.voiceCall{
    margin-right: 10px;
    font-size: x-large;
}

ion-textarea.custom-textarea {
    --padding-bottom: 0;
    --padding-start: 0;
    --border-radius: 5%;
}

ion-footer ioni-tem{
   display: flex;
}

ion-footer ion-icon{
    font-size: xx-large;
}

ion-fab-button{
    height: 50px;
    width: 50px;
}
ion-card ion-item ion-avatar{
    height: 50px;
    width: 50px;
}
.danger{
    color: red;
}

.groups{
    padding-left: 14px;
}

.chat-bubble-light{
    background-color: rgb(138, 138, 138);
}