@tailwind base;
@tailwind components;
@tailwind utilities;

.videoCall{
    margin-right: 25px;
    font-size: x-large;
}
.voiceCall{
    margin-right: 10px;
    font-size: x-large;
}
.ios ion-textarea{
    --padding-bottom: 0;
    --padding-top: 24px;
    --padding-start: 0;
    --padding-end: 0;
}
  
ion-textarea{
    --padding-bottom: 0;
    --padding-top: 17px;
    --padding-start: 0;
    --padding-end: 0;
}
  
ion-fab-button{
    height: 50px;
    width: 50px;
}
ion-card ion-item ion-avatar{
    height: 50px;
    width: 50px;
}
.danger{
    color: red;
}

.groups{
    padding-left: 14px;
}